.pdsa-submit-progress {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 7em;
    width: 20em;
    margin-left: -10em;
    padding-top: 2.5em;
    padding-left: 2.1em;
    background-color: black;
    color: white;
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    box-shadow: 0.4em 0.4em rgba(0,0,0, 0.6);
    -moz-box-shadow: 0.4em 0.4em rgba(0,0,0, 0.6);
    -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0, 0.6);
}
.pdsa-submit-progress-bg {
     background-color: lightgrey;
     opacity: 0.5;
}
        /* Modyfikacja dla animacji Font Awsome */ 
.pdsa-submit-progress {
    padding-top: 2em;
    width: 23em;
    margin-left: -11.5em;
}
.pdsa-submit-progresss i {
            margin-right: 0.5em;
}